<!DOCTYPE html>
<html>
<head>
  <title>Credits</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Credits</h1>
<p>Esta vista esta hecha por Irene Rodriguez Gomez</p>
</body>
</html>
